<html>
    <head> 
        <title>Nivetha Akka Django Site</title>
    </head>
    <body>
        <h1>Hiii.....I'm Nivetha....</h1>

        <form action = "" method = "GET">
            {% csrf_token %}
            <label for="your_name">Your first name: </label>
            <input id="your_name" type="text" name="your_name">
            <label for="your_name1">Your last name: </label>
            <input id="your_name1" type="password" name="your_name1">
            <input type="submit" value="OK">
        </form>
    </body>
</html>